/**{
 margin: 0;
 padding: 0;
 text-align: center;
}*/
body {
  background-color: black;
  background-size: cover;
}
.app {
  background-color: black;
  background-size: cover;
  color: white;
  font-family: 'Montserrat',Circular,Helvetica,Arial,sans-serif;
  width: 100%;
  padding-top: 15px;
  text-align: center;
  height: 100%;
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
}



.currentlyPlaying {
  color: #1DB954;
}
.title {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: bold;
}
.subtitle {
  margin-bottom: 30px;
  font-size: 14px;
}
.playText{
  font-weight: bold;
}
.embed-container {
    position: relative;

    height: 0;
    overflow: hidden;
    width: 100%;
    padding-bottom: 25%;
}
@media screen and (min-width: 480px) {
  .embed-container {
    margin: auto;
    padding-bottom: 56.25%;
  }
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}
